.GoodReviews {
    margin-top: 40px;

    &.GoodReviewMobile {
        .GoodReviewsInner {
            .GoodReviewCount {
                font-size: 1em;
            }

            .GoodReviewRating {
                .GoodReviewRatingTitle {
                    font-size: 0.889em;
                }

            }
        }
    }

    .GoodReviewsInner {

        .GoodReviewsTitle {
            font-size: 1.778em;
            margin-bottom: 25px;
            font-weight: 600;
            color: var(--dark-grey)
        }

        .GoodReviewCount {
            font-weight: 400;
            color: var(--dark-grey);
            font-size: 1.111em;
            margin-bottom: 25px;
        }

        .GoodReviewRating {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0 10px;
            margin-bottom: 25px;

            .GoodReviewRatingTitle {
                font-size: 1.111em;
                font-weight: 400;
                color: var(--dark-grey);
            }

        }

        .GoodReviewsForm {
            margin-bottom: 25px;

            .RatingTitle {
                display: block;
                font-weight: 300;
                color: var(--light-grey);
                margin-bottom: 10px;
            }

            .GoodReviewFormRatingStar {
                margin-bottom: 20px;

                &.RatingDisabled {
                    cursor: auto;

                    svg {
                        fill: var(--light-grey);
                    }
                }
            }

            .GoodReviewsFormTitle {
                font-size: 1.444em;
                margin-bottom: 25px;
            }

            .TextAreaTitle {
                color: var(--dark-grey);
                display: block;
                font-size: 1.556em;
                font-weight: 600;
                margin-bottom: 25px;
            }

            .TextAreaWrapper {
                position: relative;

                .TextAreaErrorText {
                    position: absolute;
                    bottom: -15px;
                    font-size: 0.778em;
                    display: block;
                    font-weight: 300;
                    margin-top: 5px;
                    color: var(--red);
                }
            }

            .GoodReviewsFormButton {
                margin-top: 20px;
            }
        }
    }
}
