.Overlay {
    position: fixed;
    visibility: hidden;
    transition: all .2s ease-out;

    &_active {
        visibility: visible;
        position: fixed;
        inset: 0;
        z-index: var(--search-overlay-index);

        background-color: rgba(58, 58, 58, 0.3);
    }

}

.SearchGood {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    background-color: var(--field);
    border-radius: 8px;
    cursor: pointer;
    padding: 0 15px;
    z-index: var(--search-main-index);
    position: relative;

    &.inputActive {
        background-color: var(--white);
    }

    .Input_wrapper {
        width: 100%;

        display: flex;
        align-items: center;
        gap: 0 15px;

        svg {
            flex-shrink: 0;
        }
    }

    .Input {
        min-width: 80px;
        height: 30px;
        font-size: 0.889em;
        background-color: transparent;
        border-radius: 8px;
        width: 100%;

        &.inputActive::placeholder {
            color: var(--dark-grey);
        }
    }
}

@media screen and (max-width: 768px) {
    .SearchGood {
        width: 100%;
    }
}