.Header {
    height: 80px;
    padding: 17px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 1000;

    border-bottom: 1px solid var(--grey);

    .Logo {
        width: 95px;
        cursor: pointer;
    }

    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 20px;
    }

    &_nav {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 0 30px;

        .nav_item {
            cursor: pointer;
            color: var(--dark-grey);

            .CartWrapper {
                height: 22px;
                position: relative;
                margin-bottom: 10px;

                svg {
                    margin-bottom: 0;
                }

                span {
                    display: block;
                    position: absolute;
                    width: 20px;
                    aspect-ratio: 1 / 1;
                    border-radius: 100px;
                    top: -8px;
                    left: 13px;
                    font-size: 0.778em;
                    padding-top: 4px;
                    color: var(--white);
                    font-weight: 400;
                    text-align: center;
                    background-color: var(--purple);
                }
            }

            &:hover {
                path {stroke: var(--blue)}
                rect {fill: var(--blue)}

                .nav_title {
                    color: var(--light-blue);
                }
            }

            svg {
                path {transition: all .2s ease;}
                rect {transition: all .2s ease;}
                margin-bottom: 10px;
            }

            .nav_title {
                font-weight: 400;
                font-size: 0.778rem;

                transition: all .2s ease;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.ItemsDropDown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 10px;
    flex-wrap: nowrap;

    p {
        transition: color .2s ease-in;
    }

    .ItemSvgWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
    }
}