.AllGoodsSection {
    margin-top: 40px;
    .AllGoodsInner {
        .AllGoodsTitle {
            font-size: 1.778em;
            font-weight: 500;
            margin-bottom: 25px;
        }

        .CardsWrapper {
            gap: 15px;
            padding-top: 15px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;

            border-top: 1px solid var(--grey);
        }
    }
}

@media screen and (max-width: 768px) {
    .AllGoodsSection {
        .AllGoodsInner {
            .CardsWrapper {
                gap: 20px 12px;
                justify-content: space-around;
            }
        }
    }
}