.TextArea {
    background-color: var(--white);
    padding: 15px 18px;
    color: var(--black);
    border: 1px solid var(--grey);
    font-size: 0.889em;
    font-weight: 400;
    border-radius: 8px;
    min-width: 100px;
    height: 100px;
    width: 100%;
    resize: none;
    overflow: hidden;

    transition: background-color 0.2s ease-out, border 0.2s ease-out;

    &::placeholder {
        color: var(--grey);
        font-weight: 400;
        font-size: 1rem;
    }

    &:focus {
        border-color: var(--dark-grey);
    }

    &:hover {
        border-color: var(--dark-grey);
    }

    &[disabled] {
        cursor: auto;
        border: 1px solid var(--light-grey);
    }
}

.TextAreaWrapper {
    position: relative;

    svg {
        position: absolute;

        transform: translateY(100%);
    }

    .OpenEyeIcon  {
        cursor: pointer;

        svg {
            right: 18px;
        }
    }

    &.TextAreaError {
        .TextArea {
            border: 1px solid var(--red);
        }

        .ErrorIcon svg {
            right: 18px;
        }
    }
}

