.ItemsDropDown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 10px;
    flex-wrap: nowrap;

    p {
        transition: color .2s ease-in;
    }

    .ItemSvgWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
    }
}